# Importing of Libraries and Dependecies

In [ ]:
!pip install boto3

Requirement already satisfied: boto3 in /usr/local/lib/python3.10/dist-packages (1.28.21)
Requirement already satisfied: botocore<1.32.0,>=1.31.21 in /usr/local/lib/python3.10/dist-packages (from boto3) (1.31.21)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from boto3) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from boto3) (0.6.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<1.32.0,>=1.31.21->boto3) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore<1.32.0,>=1.31.21->boto3) (1.26.16)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.32.0,>=1.31.21->boto3) (1.16.0)

In [ ]:
import boto3
import pandas as pd
from io import StringIO
import time

## Assigning of values and parameters

In [ ]:
AWS_ACCESS_KEY = "AKIA3ANK7KFQKKUZP7HJ"
AWS_SECRET_KEY = "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"
AWS_REGION = "eu-west-1"
SCHEMA_NAME = "covid19"
S3_STAGING_DIR = "s3://ehi-ughele-test-output-bucket/output/"
S3_BUCKET_NAME = "ehi-ughele-test-output-bucket"
S3_OUTPUT_DIRECTORY = "output"

## Step 1: Connecting to AWS Athena and querying the data

In [ ]:
athena_client = boto3.client(
    "athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [ ]:
Dict = {}
def download_and_load_query_results(
    client: boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            # This function only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if "not yet finished" in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location: str = "athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )
    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )
    return pd.read_csv(temp_file_location)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM countrycode",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
            "OutputLocation":S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)

In [ ]:
#to test this response code
response

{'QueryExecutionId': 'dd066e9c-1932-42c0-a85e-8a85d3844e13',
 'ResponseMetadata': {'RequestId': '72eb0053-5fbf-4ca8-a245-4177c09af4c8',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'date': 'Tue, 08 Aug 2023 05:47:48 GMT',
   'content-type': 'application/x-amz-json-1.1',
   'content-length': '59',
   'connection': 'keep-alive',
   'x-amzn-requestid': '72eb0053-5fbf-4ca8-a245-4177c09af4c8'},
  'RetryAttempts': 0}}

In [ ]:
countrycode = download_and_load_query_results(athena_client, response)

In [ ]:
#to view the table
countrycode.head()

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM countypopulation",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
            "OutputLocation":S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
countypopulation = download_and_load_query_results(athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM state_abv",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
            "OutputLocation":S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
state_abv = download_and_load_query_results(athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM us_daily",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
            "OutputLocation":S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
us_daily = download_and_load_query_results(athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM us_states",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
            "OutputLocation":S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
us_states = download_and_load_query_results(athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM us_county",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
            "OutputLocation":S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
us_county = download_and_load_query_results(athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM us_total_latest",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
            "OutputLocation":S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
us_total_latest = download_and_load_query_results(athena_client, response)

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM states_daily",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
            "OutputLocation":S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
states_daily = download_and_load_query_results(athena_client, response)

In [ ]:
states_daily.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
            "OutputLocation":S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
enigma_jhud = download_and_load_query_results(athena_client, response)

In [ ]:
enigma_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui",csv
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing",csv
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing",csv
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian",csv
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu",csv

In [ ]:
response = athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_usa_hospital_beds",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
            "OutputLocation":S3_STAGING_DIR,
            "EncryptionConfiguration": {"EncryptionOption": "SSE_S3"},
    },
)
rearc_usa_hospital_beds = download_and_load_query_results(athena_client, response)

In [ ]:
rearc_usa_hospital_beds.head()

,objectid,hospital_name,hospital_type,hq_address,hq_address1,hq_city,hq_state,hq_zip_code,county_name,state_name,...,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,bed_utilization,avg_ventilator_usage,potential_increase_in_bed_capac,latitude,longtitude
0,1,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,NaN,Phoenix,AZ,85012,Maricopa,Arizona,...,129.0,129.0,0,0,NaN,NaN,0.0,0,33.495498,-112.066157
1,2,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,NaN,Tucson,AZ,85723,Pima,Arizona,...,295.0,295.0,2,2,NaN,NaN,2.0,0,32.181263,-110.965885
2,3,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,NaN,Fresno,CA,93703,Fresno,California,...,57.0,57.0,2,2,NaN,NaN,2.0,0,36.773324,-119.779742
3,4,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,NaN,West Haven,CT,6516,New Haven,Connecticut,...,216.0,216.0,1,1,NaN,NaN,2.0,0,41.284400,-72.957610
4,5,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,NaN,Wilmington,DE,19805,New Castle,Delaware,...,60.0,60.0,0,0,NaN,NaN,1.0,0,39.740206,-75.606532

## Carrying out ETL(Data transformation) job in Python

In [ ]:
"""
Notice something in the states_abv data, crawler did not properly integrate the data
thus the column names state, abbrevation were not properly assigned but were written as
col0 and col1

take a look below

so we would correct it in the next steps
"""
state_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [ ]:
new_header = state_abv.iloc[0] # step 1 slice the 1st row containg the correct column names
new_header

col0           State
col1    Abbreviation
Name: 0, dtype: object

In [ ]:
state_abv = state_abv[1:]
state_abv.columns = new_header # step 2 : set the header row as the df header
state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

### Next, we would create our dimension model from the data model
a. factCovid
b. dimRegion
c. dimHospital
d. dimDate

In [ ]:
# factCovid table
factCovid_1 = enigma_jhud[['fips','province_state','country_region','confirmed','deaths','recovered','active']]
factCovid_2 = states_daily[['fips','date','positive','negative','hospitalizedcurrently','hospitalized','hospitalizeddischarged']]
factCovid = pd.merge(factCovid_1, factCovid_2, on ='fips', how='inner')

In [ ]:
factCovid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,NaN,Anhui,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
1,NaN,Beijing,China,14.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
2,NaN,Chongqing,China,6.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
3,NaN,Fujian,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
4,NaN,Gansu,China,NaN,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN

In [ ]:
# dimRegion table
dimRegion_1 = enigma_jhud[['fips','province_state','country_region','latitude','longitude']]
dimRegion_2 = us_county[['fips','county','state']]
dimRegion = pd.merge(dimRegion_1, dimRegion_2, on='fips', how='inner')

In [ ]:
dimRegion.head()

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,New York City,New York
1,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
2,NaN,Anhui,China,31.826,117.226,New York City,New York
3,NaN,Anhui,China,31.826,117.226,Unknown,Rhode Island
4,NaN,Anhui,China,31.826,117.226,New York City,New York

In [ ]:
# dimHospital table
dimHospital = rearc_usa_hospital_beds[['fips','state_name','latitude','longtitude','hq_address','hospital_name','hospital_type','hq_city','hq_state']]

In [ ]:
dimHospital.head()

,fips,state_name,latitude,longtitude,hq_address,hospital_name,hospital_type,hq_city,hq_state
0,4013.0,Arizona,33.495498,-112.066157,650 E Indian School Rd,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,Phoenix,AZ
1,4019.0,Arizona,32.181263,-110.965885,3601 S 6th Ave,Southern Arizona VA Health Care System,VA Hospital,Tucson,AZ
2,6019.0,California,36.773324,-119.779742,2615 E Clinton Ave,VA Central California Health Care System,VA Hospital,Fresno,CA
3,9009.0,Connecticut,41.284400,-72.957610,950 Campbell Ave,VA Connecticut Healthcare System - West Haven ...,VA Hospital,West Haven,CT
4,10003.0,Delaware,39.740206,-75.606532,1601 Kirkwood Hwy,Wilmington VA Medical Center,VA Hospital,Wilmington,DE

In [ ]:
# dimDate table
dimDate = states_daily[['fips','date']]
dimDate.head()

   fips      date
0   2.0  20210307
1   1.0  20210307
2   5.0  20210307
3  60.0  20210307
4   4.0  20210307

In [ ]:
"""
we have to modify this table to get the year, month and day columns, to do this we would carry out the following steps

Step 1
Formatting the date column to separate year from month the date

Step 2
Separate the year, month and days to individual columns adding them to the table dimDate
"""

dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d') # .... ignore the warning showing

<ipython-input-39-16f1fc5e27e4>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'], format='%Y%m%d') # .... ignore the warning showing

In [ ]:
dimDate['year'] = dimDate['date'].dt.year
dimDate['month'] = dimDate['date'].dt.month
dimDate['day_of_week'] = dimDate['date'].dt.dayofweek
#ignore the warnings shown when the above code is ran

<ipython-input-40-dd1ff1e9e804>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year'] = dimDate['date'].dt.year
<ipython-input-40-dd1ff1e9e804>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month'] = dimDate['date'].dt.month
<ipython-input-40-dd1ff1e9e804>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week'] = dimDate['date'].dt.dayofweek

In [ ]:
dimDate.head()

   fips       date  year  month  day_of_week
0   2.0 2021-03-07  2021      3            6
1   1.0 2021-03-07  2021      3            6
2   5.0 2021-03-07  2021      3            6
3  60.0 2021-03-07  2021      3            6
4   4.0 2021-03-07  2021      3            6

In [ ]:
factCovid.shape

(27992, 13)

In [ ]:
dimDate.shape

(2685, 5)

In [ ]:
dimHospital.shape

(6637, 9)

In [ ]:
dimRegion.shape

(11752274, 7)

### Next step is to Save the Result to our output folder in our S3 bucket

In [ ]:
bucket = 'project-covid19-de-self-paced' # already created on s3

csv_buffer = StringIO()

csv_buffer

In [ ]:
# for fact table
REGION = 'eu-west-1'
ACCESS_KEY_ID = 'AKIA3ANK7KFQKKUZP7HJ'
SECRET_ACCESS_KEY = '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'

BUCKET_NAME ='project-covid19-de-self-paced'
FileName = 'covid data/output/factCovid.csv'

csv_buffer=StringIO()
factCovid.to_csv(csv_buffer, index=False)

s3csv = boto3.client('s3',
 region_name = REGION,
 aws_access_key_id = ACCESS_KEY_ID,
 aws_secret_access_key = SECRET_ACCESS_KEY
 )

response=s3csv.put_object(Body=csv_buffer.getvalue(),
                           Bucket=BUCKET_NAME,
                           Key=FileName)

### Now repeat the same for the other files

In [ ]:
# for dimDate table
REGION = 'eu-west-1'
ACCESS_KEY_ID = 'AKIA3ANK7KFQKKUZP7HJ'
SECRET_ACCESS_KEY = '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'

BUCKET_NAME ='project-covid19-de-self-paced'
FileName = 'covid data/output/dimDate.csv'

csv_buffer=StringIO()
dimDate.to_csv(csv_buffer, index=False)

s3csv = boto3.client('s3',
 region_name = REGION,
 aws_access_key_id = ACCESS_KEY_ID,
 aws_secret_access_key = SECRET_ACCESS_KEY
 )

response=s3csv.put_object(Body=csv_buffer.getvalue(),
                           Bucket=BUCKET_NAME,
                           Key=FileName)

In [ ]:
# for dimHospital table
REGION = 'eu-west-1'
ACCESS_KEY_ID = 'AKIA3ANK7KFQKKUZP7HJ'
SECRET_ACCESS_KEY = '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'

BUCKET_NAME ='project-covid19-de-self-paced'
FileName = 'covid data/output/dimHospital.csv'

csv_buffer=StringIO()
dimHospital.to_csv(csv_buffer, index=False)

s3csv = boto3.client('s3',
 region_name = REGION,
 aws_access_key_id = ACCESS_KEY_ID,
 aws_secret_access_key = SECRET_ACCESS_KEY
 )

response=s3csv.put_object(Body=csv_buffer.getvalue(),
                           Bucket=BUCKET_NAME,
                           Key=FileName)

In [ ]:
# For dimRegion
"""
Here we would adopt a slightly different approach, the table is above a 1,000,000 rows
which would create an error when loading this table to redshift
hence we would have split the table into partitions and load each partition table into redshift
"""
import pandas as pd

# read DataFrame
# data = pd.read_csv("Customers.csv")

# no of csv files with row size
k = 2
size = 60000

dimRegion_1 = dimRegion[0:60001]
dimRegion_2 = dimRegion[60000:120000]

In [ ]:
# for the split dimRegion tables (first table: dimRegion_1)
REGION = 'eu-west-1'
ACCESS_KEY_ID = 'AKIA3ANK7KFQKKUZP7HJ'
SECRET_ACCESS_KEY = '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'

BUCKET_NAME ='project-covid19-de-self-paced'
FileName = 'covid data/output/dimRegion_1.csv'

csv_buffer=StringIO()
dimRegion_1.to_csv(csv_buffer, index=False)

s3csv = boto3.client('s3',
 region_name = REGION,
 aws_access_key_id = ACCESS_KEY_ID,
 aws_secret_access_key = SECRET_ACCESS_KEY
 )

response=s3csv.put_object(Body=csv_buffer.getvalue(),
                           Bucket=BUCKET_NAME,
                           Key=FileName)

In [ ]:
# for the split dimRegion tables (first table: dimRegion_2)
REGION = 'eu-west-1'
ACCESS_KEY_ID = 'AKIA3ANK7KFQKKUZP7HJ'
SECRET_ACCESS_KEY = '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'

BUCKET_NAME ='project-covid19-de-self-paced'
FileName = 'covid data/output/dimRegion_2.csv'

csv_buffer=StringIO()
dimRegion_2.to_csv(csv_buffer, index=False)

s3csv = boto3.client('s3',
 region_name = REGION,
 aws_access_key_id = ACCESS_KEY_ID,
 aws_secret_access_key = SECRET_ACCESS_KEY
 )

response=s3csv.put_object(Body=csv_buffer.getvalue(),
                           Bucket=BUCKET_NAME,
                           Key=FileName)

## Next step: Glue Deployment

In [ ]:
dimDatesql = pd.io.sql.get_schema(dimDate.reset_index(), 'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [ ]:
dimRegionsql = pd.io.sql.get_schema(dimRegion.reset_index(), 'dimRegion')
print(''.join(dimRegionsql))

CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)

In [ ]:
dimHospitalsql = pd.io.sql.get_schema(dimHospital.reset_index(), 'dimHospital')
print(''.join(dimHospitalsql))

CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [ ]:
factCovidsql = pd.io.sql.get_schema(factCovid.reset_index(), 'factCovid')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

### Install the redshift depolyment

In [ ]:
!pip install redshift-connector

Collecting redshift-connector
  Downloading redshift_connector-2.0.913-py3-none-any.whl (114 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 114.7/114.7 kB 2.2 MB/s eta 0:00:00
Collecting scramp<1.5.0,>=1.2.0 (from redshift-connector)
  Downloading scramp-1.4.4-py3-none-any.whl (13 kB)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from redshift-connector) (2022.7.1)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in /usr/local/lib/python3.10/dist-packages (from redshift-connector) (4.11.2)
Requirement already satisfied: boto3<2.0.0,>=1.9.201 in /usr/local/lib/python3.10/dist-packages (from redshift-connector) (1.28.21)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /usr/local/lib/python3.10/dist-packages (from redshift-connector) (2.27.1)
Requirement already satisfied: lxml>=4.6.5 in /usr/local/lib/python3.10/dist-packages (from redshift-connector) (4.9.3)
Requirement already satisfied: botocore<2.0.0,>=1.12.201 in /usr/local/lib/python3.10/dist-packages (from redshift-connector) (1.31.21)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from redshift-connector) (23.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.10/dist-packages (from redshift-connector) (67.7.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift-connector) (2.4.1)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.10/dist-packages (from boto3<2.0.0,>=1.9.201->redshift-connector) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from boto3<2.0.0,>=1.9.201->redshift-connector) (0.6.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.10/dist-packages (from botocore<2.0.0,>=1.12.201->redshift-connector) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.10/dist-packages (from botocore<2.0.0,>=1.12.201->redshift-connector) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.23.0->redshift-connector) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.23.0->redshift-connector) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests<3.0.0,>=2.23.0->redshift-connector) (3.4)
Collecting asn1crypto>=1.5.1 (from scramp<1.5.0,>=1.2.0->redshift-connector)
  Downloading asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 105.0/105.0 kB 4.7 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<2.0.0,>=1.12.201->redshift-connector) (1.16.0)
Installing collected packages: asn1crypto, scramp, redshift-connector
Successfully installed asn1crypto-1.5.1 redshift-connector-2.0.913 scramp-1.4.4

In [ ]:
import redshift_connector

In [ ]:
# Connects to Redshift cluster using AWS credentials
conn = redshift_connector.connect(
    host='redshift-cluster-covid19-project.cue9psgygrpj.eu-west-1.redshift.amazonaws.com',
    database='dev',
    user='awsuser',
    password='Password2023'
    )

In [ ]:
conn.autocommit = True

In [ ]:
cursor = redshift_connector.Cursor = conn.cursor()

In [ ]:
cursor.execute("""
CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)
""")

In [ ]:
cursor.execute("""
CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
)
""")

In [ ]:
cursor.execute("""
CREATE TABLE "dimHospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)
""")

In [ ]:
cursor.execute("""
CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)
""")

In [ ]:
cursor.execute("""
copy factcovid from 's3://project-covid19-de-self-paced/covid data/output/factCovid.csv'
credentials 'aws_iam_role=arn:aws:iam::756809683296:role/redshift-s3-iamaccess'
delimiter ','
region 'eu-west-1'
IGNOREHEADER 1
""")

ProgrammingError: ignored

In [ ]:
cursor.execute("""
copy dimdate from 's3://project-covid19-de-self-paced/covid data/output/dimDate.csv'
credentials 'aws_iam_role=arn:aws:iam::756809683296:role/redshift-s3-iamaccess'
delimiter ','
region 'eu-west-1'
MAXERROR 100000
IGNOREHEADER 1
""")

In [ ]:
cursor.execute("""
copy dimhospital from 's3://project-covid19-de-self-paced/covid data/output/dimHospital.csv'
credentials 'aws_iam_role=arn:aws:iam::756809683296:role/redshift-s3-iamaccess'
delimiter ','
region 'eu-west-1'
MAXERROR 100000
IGNOREHEADER 1
""")

In [ ]:
cursor.execute("""
copy dimregion from 's3://project-covid19-de-self-paced/covid data/output/dimRegion_1.csv'
credentials 'aws_iam_role=arn:aws:iam::756809683296:role/redshift-s3-iamaccess'
delimiter ','
region 'eu-west-1'
MAXERROR 100000
IGNOREHEADER 1
""")

In [ ]:
cursor.execute("""
copy dimregion from 's3://project-covid19-de-self-paced/covid data/output/dimRegion_2.csv'
credentials 'aws_iam_role=arn:aws:iam::756809683296:role/redshift-s3-iamaccess'
delimiter ','
region 'eu-west-1'
MAXERROR 100000
IGNOREHEADER 1
""")

In [ ]:
conn.close()